@media screen and (max-width: 576px) {
  .banner .sections {
    flex-direction: column;
    /* justify-content: center; */
  }
  .navbar {
    display: none;
  }
  .sections {
    flex-direction: column;
  }
}
